h1 {
    color: inherit;
    font-size: 40px;
}

body{
    color: purple ;
    background-color: bisque;
}

h1.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    color: brown;
}

div.title{
    font-size: 30px;
    color: tomato;
    background-color: burlywood;
    width: 50%;
    border-radius: 20px;
    padding: 10px;
}

#main{
    background-color: aquamarine;
    color: black;
    width: 90%;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    margin-top: 50px;
}
