h1 {
    color: inherit;
    font-size: 40px;
}

body{
    color: purple ;
    background-color: rgb(209, 205, 199);
}

h1.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    color: brown;
}

div.title{
    font-size: 30px;
    color: tomato;
    background-color: burlywood;
    width: 50%;
    border-radius: 20px;
    padding: 10px;
}

#main{
    background-color: aquamarine;
    color: black;
    width: 90%;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    margin-top: 50px;
}


.mainMenu
{

    font-size: large;
    border-radius: 5px;
    background-color: aquamarine;
    padding: 5px;
    margin: 5px;
    margin-top: 10px;
}
ul{
    margin-top: 10px;
    padding: 5px;
}

.flex-container{
 display: flex;
 flex-direction: row;
 background-color: black;
 flex-wrap: wrap;
 justify-content: center;
}

@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }

  button{
    padding: 5px;
    margin: 5px;
    background-color: greenyellow;
    border-radius: 5px;
    font-size: larger;
  }

  